[*.cs]

# SA1027: Use tabs correctly
dotnet_diagnostic.SA1027.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1028: Code should not contain trailing whitespace
dotnet_diagnostic.SA1028.severity = none

# SA1507: Code should not contain multiple blank lines in a row
dotnet_diagnostic.SA1507.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none
